@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --brackground-graphic: #1D283A;
  --background-danger: #E11D48;
  --background-blue-strong: #1D283A;
  --foreground: #E2E8F0;
  --text-primary: #0F172A;
  --text-secondary: #64748B;
  --text-green: #10B981;
  --text-gray-light: #94A3B8;
  --text-dark: #000000;
  --text-blue: #1E293B;
  --text-danger: #F43F5E;
  --text-danger-strong: #881337;
  --button-dafult: #1D283A;
}

